<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName">

    <import resource="spring-config-rpc-manager.xml"/>
    <import resource="spring-config-rpc-ws-client.xml"/>
    <import resource="spring-config-rpc-client.xml"/>
</beans>