#app .warp {
    background: url(../images/app_warp_bg.png) center top no-repeat;
    height: 100%;
    overflow: hidden;
    padding-top: 42px;
}

#app .rounded {
    border: 1px solid #a0bee0;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#app .roundeds {
    border: 1px solid #c1c1c1;
    background-color: #eaeaea;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    border-radius: 8px;
}

#app .warp .left {
    margin-left: 12px;
    width: 188px;
    background-color: #d3e0f2;
}
#app .warp .fr{width: 820px;}
#app .warp .right {
    margin-right: 2px;
    width: 820px;
    float: right;
}

#app .warp .right .top {
    width: 720px;
    height: 38px;
    line-height: 38px;
    margin: -14px auto 20px auto;
    padding-left: 20px;
    padding-right: 20px;
    border: 0 none;
    text-shadow: 0px 0px 0 #c1c1c1;
    background-color: #ed8d51;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    -khtml-border-radius: 12px;
    border-radius: 12px;
    position: relative;
}

#app .warp .right .top  a {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    color: #fff;
    font-family: "Microsoft YaHei";
}

#app .warp .right .top  a:hover {
    color: #000;
    text-decoration: none;
}

#app .warp .right .top  a.curr {
    color: #000;
}

#app .warp .right .content {
    width: 760px;
    margin: 0 auto;
    padding-bottom: 32px;
}

#app .warp .right .content li {
    height: 126px;
    margin-top: 10px;
    border: 1px solid #c1c1c1;
    text-shadow: 0px 0px 0 #c1c1c1;
    background-color: #f8f7f7;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}

#app .warp .right .content li .app-ico {
    width: 120px;
    height: 111px;
    margin: 8px;
    background: url(../images/m_pic_bg.png) no-repeat;
}

#app .warp .right .content li .app-ico img {
    width: 95px;
    height: 95px;
    margin: 8px 13px;
}

#app .warp .right .content li .center {
    width: 350px;
    height: 90px;
    margin: 18px 10px;
}

#app .warp .right .content li .center .stars {
    height: 26px;
    margin-top: 24px;
}

.m_star {
    background: url(../images/m_rate1.gif) no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 14px;
    overflow: hidden;
    padding-bottom: 2px;
    vertical-align: middle;
    width: 87px;
}

.m_1 {
    background-position: -70px -1px;
}

.m_2 {
    background-position: -52px -1px;
}

.m_3 {
    background-position: -34px -1px;
}

.m_4 {
    background-position: -16px -1px;
}

.m_5 {
    background-position: 0 0;
}

.m_0 {
    background-position: -87px -1px;
}

.m_h05 {
    background-position: 0px -19px;
}

.m_h15 {
    background-position: -87px -19px;
}

.m_h25 {
    background-position: 0px -38px;
}

.m_h35 {
    background-position: -87px -38px;
}

.m_h45 {
    background-position: 0px -57px;
}

#app .warp .right .content li .info {
    width: 218px;
    height: 96px;
    margin: 15px;
}

#app .warp .right .content li .info p {
    line-height: 24px;
}
