#set($layout="ajax.vm")
<script type="text/javascript">
    // 分页
    function macroAjaxSubmit(url) {
        loadTickAlert('加载中....');
        var startTime = $("#d5221").val();
        var endTime = $("#d5222").val();
        var appid = $("#appid").val();
        var appName = $("#app_Name").val();
        jQuery.ajax({
            type: "POST",
            url: url,
            dataType: "html",
            data: {"countAppParameter.startTime": startTime,
                "countAppParameter.endTime": endTime,
                "countAppParameter.appid": appid,
                "countAppParameter.appName": appName
            },
            success: function (msg) {
                jQuery('#countApps').html(msg);
                closeTickAlert();
            }
        });
    }
</script>
<div class="mt">
  #*<span class="tit">
        <strong>应用名称</strong>
    </span>
    <span class="tpsd">
        <strong>串号</strong>
    </span>*#
    <span class="total1">
        <strong>应用名称</strong>
    </span>
    <span class="total">
        <strong>串号</strong>
    </span>
    <span class="total">
        <strong>手机型号</strong>
    </span>
    <span class="total">
        <strong>安装时间</strong>
    </span>
</div>
#foreach($result in $countAppsPhoneImei)
<ul>
    <li>
        <span class="total1">$appName</span>
        <span class="total">$!result.phoneImei</span>
        <span class="total">$!result.phoneModelName</span>
        <span class="total">$!result.installTime</span>
    </li>
</ul>
#end

<div id="paging" style="float: right">
    #set($pageModule = $homeModule.getTarget("/datacenter/getPhoneImeiFromInstall.action").addQueryData("pageSize",$!pageSize))
        #showPage($pageModule $countAppsPhoneImei)
</div>