<script type="text/javascript" src="$assetModule.getTarget("/appstore-man/js/jquery-1.7.1.js")"></script>
<link rel="stylesheet" href="$assetModule.getTarget("/appstore-man/css/infedit.css")" type="text/css" media="screen">
<script>
    function changeImgage(id) {
        $('#' + id).attr('src', '/authcode/getAuthCode.action?uid=$!uid&time=' + new Date().getTime());
    }
    function forgetPassword(uid) {
        var account = $('#accountId').val();
        var email = $('#email').val();
        var authCode = $('#authCode').val();
        jQuery.ajax({
                    type:"POST",
                    data:"forgetPass.account=" + account + "&forgetPass.email=" + email + "&authCode=" + authCode + "&uid=" + uid,
                    url:"/retrievePasswordSubmit.action",
                    dataType:"json",
                    success:function(data) {
                        if (data.flag == 0) {
                            alert('用户或者邮箱错误!');
                        }
                        if (data.flag == 1) {
                            alert('成功!');
                        }
                        if (data.flag == 2) {
                            alert('验证码错误!');
                            changeImgage(authcode1);
                        }
                    }
                });

    }

</script>
<div class="w_2">
    <div class="forgotpass">
        <div class="fp-box">
            <div class="top radius overflow"> 找回密码</div>
            <div class="trip">忘记了密码？请输入用户名和注册时填写的邮箱，我们会把重设密码邮件发送到您的邮箱！</div>
            <div class="cotBox">
                <form name="" method="post" action="" onsubmit="" id="">
                    <div class="lsBd1">
                        <label class="bt">用户名：</label>
                        <label class="nr">
                            <input name="accountId" class="ipt" maxlength="25" id="accountId" type="text">
                        </label>
                        <label class="ts"></label>
                    </div>
                    <div class="lsBd1">
                        <label class="bt">邮&#12288;箱：</label>
                        <label class="nr">
                            <input name="email" id="email" class="ipt" maxlength="25" type="text">
                        </label>
                        <label class="ts"></label>
                    </div>
                    <div class="lsBd2">
                        <label class="bt">验证码：</label>
                        <label class="nr">
                            <input class="ipts" maxlength="4" type="text" id="authCode">
                            <img id="authcode1" style="cursor:pointer"
                                 src="/authcode/getAuthCode.action?uid=$!uid"
                                 onclick="this.src='/authcode/getAuthCode.action?uid=$!uid&time='+new Date().getTime()"
                                 id="entimgs1">&nbsp;<a
                                class="red" href="javascript:changeImgage('authcode1');">看不清楚</a>
                            <label class="ts"></label>
                    </div>
                </form>
            </div>
            <div class="btn">
                <input onclick="forgetPassword('$uid');" value="完 成" type="button" class="borg_btn">
            </div>
        </div>
    </div>
</div>